@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
/* 
<[(Mapa)]>

[mobile-320px]
    1#>Configurações-basicas
        2##>Elementos-padrão
        2##>Tags-para-testes
        2##>Variaveis-de-animações
        2##>Cores
        2##>Fontes
    1#>Nav-bar
    1#>Home
        2##>titulo-home
        2##>carrossel
            3###>orbita
                4####>marcações-das-orbitas
                4####>niveis-das-orbitas
                4####>itens-da-orbita
                4####>animações-da-orbita
            3###>foto-de-perfil
            3###>roda-gigante
                4####>peças-principais-rod-gig
                4####>raios-rod-gig
                4####>estrelas-rod-gig
                4####>peças-carrinhos-rof-gig
                4####>animação-rod-gig
        2##>paragrafo-home
    1#>sobre-min
        2##>titulo
        2##>blocos
            3###>setas-blocos
            3###>textos-blocos
    1#>conhecimentos
        2##>titulo
        2##>barras-seletoras
        2##>parte-informativa
            3###>texto-conhecimentos
            3###>grafico
    1#>projetos
        2##>titulo
        2##>game-boy
            3###>tela
            3###>botões
    1#>roda-pé
        2##>textos
            3##>texto-um
            3##>texto-dois
        2##>contatos

[tablet-768px]
    1#>
*/
/* 1#>Configurações-basicas ----------------------------------------------------------------------------- */
/* 2##>Elementos-padrão --------------------------------------------------------------------------------- */
@media all {
  * {
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    color: var(--preto);
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  a {
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    display: block;
    transition-duration: 0.45s;
  }
  span {
    cursor: default;
  }
  strong {
    color: var(--verde);
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .divisor {
    width: 100%;
    height: 2px;
    background-color: var(--branco-20);
  }
  .fundo-azul {
    background-color: var(--azul) !important;
  }
  .fundo-rosa {
    background-color: var(--rosa) !important;
  }
  .fundo-verde {
    background-color: var(--verde) !important;
  }
  .fundo-vermelho {
    background-color: var(--vermelho) !important;
  }
  .fundo-amarelo {
    background-color: var(--amarelo) !important;
  }
  .fonte-azul {
    color: blue !important;
  }
  .fonte-vermelho {
    color: red !important;
  }
  .fonte-verde {
    color: green !important;
  }
  :root {
    /* 2##>Variaveis-de-animações ----------------------------------------------------------------------*/
    --OrbitaTime: .1s;
    --Rod-Gig-size: .30px;
    --Rod-Gig-time: .35s;
    --tamanho-bloco: .13vw;
    --blocos-time: .1s;
    /* 2##>Cores -------------------------------------------------------------------------------------- */
    --sombra: 0px 2px 5px rgba(54, 54, 54, 0.345);
    --preto: #212121;
    --preto-75: #212121bf;
    --preto-50: #21212180;
    --preto-25: #21212140;
    --preto-10: #2121211a;
    --preto-5: #2121210d;
    --branco: #ffffff;
    --branco-10: rgb(229.5, 229.5, 229.5);
    --branco-20: rgb(204, 204, 204);
    --branco-30: rgb(178.5, 178.5, 178.5);
    --branco-40: rgb(153, 153, 153);
    --branco-50: rgb(127.5, 127.5, 127.5);
    --azul: #3E9EFF;
    --rosa: #FF2C70;
    --vermelho: #CF3000;
    --verde: #3D8923;
    --amarelo: #E4A500;
    --amarelo-escuro: #bd8800;
    --verde-escuro: #285b17;
    --marrom: #864800;
  }
  /* 2##>Fontes ------------------------------------------------------------------------------------ */
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: clamp(1.5em, 5vw, 3em);
    line-height: 30px;
  }
  h2 {
    font-family: "Raleway", sans-serif;
    font-size: clamp(1.4em, 4vw, 28px);
    line-height: 30px;
  }
  h3 {
    font-family: "Raleway", sans-serif;
    font-size: clamp(1.3em, 3vw, 2em);
    line-height: 30px;
  }
  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 30px;
  }
  h5 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 30px;
  }
  p {
    font-family: "Prompt", sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
  }
  html, body {
    overflow-x: hidden;
    width: 100vw;
    scroll-behavior: smooth;
  }
  html header, body header {
    width: 100vw;
    height: 3em;
    background-color: var(--branco-10);
    padding: 0px 1.5em 0px 1.5em;
    box-shadow: var(--sombra);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  html header h2, body header h2 {
    z-index: 101;
  }
  html header span, body header span {
    transform: scale(1.2);
    z-index: 101;
  }
  html header li, body header li {
    height: 100%;
    width: 100%;
    background-color: var(--branco);
    padding: 4em;
    position: fixed;
    top: 50%;
    left: -100%;
    opacity: 0.94;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 6em;
    transition-duration: 0.45s;
  }
  html header li ul, body header li ul {
    font-size: min(6vw, 20px);
    width: -moz-fit-content;
    width: fit-content;
  }
  html main section, body main section {
    padding-top: 3em;
    max-height: calc(100vh - 3em);
    height: calc(100vh - 3em);
    width: 100vw;
  }
  html main #home h1, body main #home h1 {
    margin: 50px 0px 20px 0px;
    text-align: center;
  }
  html main #home #carrossel, body main #home #carrossel {
    position: relative;
  }
  html main #home #carrossel [class^=home-seta], body main #home #carrossel [class^=home-seta] {
    position: absolute;
    top: 50%;
    transform: scale(2) translateY(-20%);
    z-index: 1;
  }
  html main #home #carrossel .home-seta-direita, body main #home #carrossel .home-seta-direita {
    left: 87%;
  }
  html main #home #carrossel .home-seta-esquerda, body main #home #carrossel .home-seta-esquerda {
    left: 8%;
  }
  html main #home #carrossel-itens, body main #home #carrossel-itens {
    height: 50vh;
    width: 300vw;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -100%;
    transition-duration: 0.5s;
    overflow-x: auto;
  }
  html main #home #carrossel-itens [class^=conteiner-carrossel], body main #home #carrossel-itens [class^=conteiner-carrossel] {
    width: 100vw;
    height: 50vh;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um, body main #home #carrossel-itens .conteiner-carrossel-um {
    display: grid;
    place-items: center;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao, body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao {
    height: 250px;
    width: 250px;
  }
  @keyframes OrbitaRotation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita, body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=camada], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=camada] {
    position: absolute;
    border-radius: 50%;
    animation: OrbitaRotation linear infinite;
    border: 1px solid red;
    z-index: 1;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=um], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=um] {
    height: 95%;
    width: 95%;
    animation-duration: calc(40 * var(--OrbitaTime));
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=dois], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=dois] {
    height: 80%;
    width: 80%;
    animation-duration: calc(60 * var(--OrbitaTime));
    animation-direction: reverse;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=tres], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=tres] {
    height: 65%;
    width: 65%;
    animation-duration: calc(30 * var(--OrbitaTime));
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=quatro], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=quatro] {
    height: 50%;
    width: 50%;
    animation-duration: calc(70 * var(--OrbitaTime));
    animation-direction: reverse;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=cinco], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=cinco] {
    height: 35%;
    width: 35%;
    animation-duration: calc(20 * var(--OrbitaTime));
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=seis], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=seis] {
    height: 20%;
    width: 20%;
    animation-duration: calc(90 * var(--OrbitaTime));
    animation-direction: reverse;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=sete], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=sete] {
    height: 5%;
    width: 5%;
    animation-duration: calc(50 * var(--OrbitaTime));
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=item], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=item] {
    position: absolute;
    z-index: 10;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=orbita], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=orbita] {
    position: absolute;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git] {
    animation: OrbitaRotation calc(30 * var(--OrbitaTime)) infinite linear reverse;
    height: 40%;
    width: 40%;
    top: -6%;
    left: -6%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git] [class$=git], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git] [class$=git] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear reverse;
    height: 20%;
    width: 20%;
    top: 47%;
    left: 47%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git] [class$=ghub], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=git] [class$=ghub] {
    animation: OrbitaRotation calc(30 * var(--OrbitaTime)) infinite linear reverse;
    height: 10%;
    width: 10%;
    top: 10%;
    left: 10%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js] {
    animation: OrbitaRotation calc(40 * var(--OrbitaTime)) infinite linear;
    height: 30%;
    width: 30%;
    top: 0%;
    left: 0%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js] [class$=js], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js] [class$=js] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear reverse;
    height: 30%;
    width: 30%;
    top: 40%;
    left: 40%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js] [class$=react], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=js] [class$=react] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
    height: 20%;
    width: 20%;
    top: 10%;
    left: 10%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css] {
    animation: OrbitaRotation calc(90 * var(--OrbitaTime)) infinite linear;
    height: 30%;
    width: 30%;
    top: 15%;
    left: 15%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css] [class$=css], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css] [class$=css] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
    height: 65%;
    width: 65%;
    top: 25%;
    left: 25%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css] [class$=scss], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class^=css] [class$=scss] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
    height: 40%;
    width: 40%;
    top: -50%;
    left: -50%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=html], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=html] {
    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
    height: 10%;
    width: 10%;
    top: 8%;
    left: 8%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=python], body main #home #carrossel-itens .conteiner-carrossel-um .orbita-animacao #orbita [class$=python] {
    animation: OrbitaRotation calc(300 * var(--OrbitaTime)) infinite linear;
    height: 5%;
    width: 5%;
    top: 12%;
    left: 12%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-dois div, body main #home #carrossel-itens .conteiner-carrossel-dois div {
    height: min(50vw, 35em);
    width: min(50vw, 35em);
    background-image: linear-gradient(150deg, blue, orange);
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres, body main #home #carrossel-itens .conteiner-carrossel-tres {
    overflow: hidden;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig {
    height: calc(600 * var(--Rod-Gig-size));
    width: calc(600 * var(--Rod-Gig-size));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda { /*roda pequena do meio*/
    position: absolute;
    height: calc(200 * var(--Rod-Gig-size));
    width: calc(200 * var(--Rod-Gig-size));
    border-radius: 50%;
    left: 33.5%;
    top: 33.5%;
    background-color: var(--vermelho);
    z-index: 8;
    animation: calc(20 * var(--Rod-Gig-time)) rotacao linear reverse infinite;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda [class^=raio], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda [class^=raio] { /*todos os raios*/
    position: absolute;
    width: calc(40 * var(--Rod-Gig-size));
    height: calc(598 * var(--Rod-Gig-size));
    background-color: var(--marrom);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=um], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=um] { /*raio um*/
    transform: rotate(90deg);
    top: -100%;
    left: 40%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=dois], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=dois] { /*raio dois*/
    transform: rotate(180deg);
    top: -100%;
    left: 41%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=tres], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=tres] { /*raio tres*/
    transform: rotate(45deg);
    top: -100%;
    left: 40%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=quatro], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda > [class$=quatro] { /*raio quatro*/
    transform: rotate(-45deg);
    top: -100%;
    left: 40%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro { /*roda grande*/
    position: absolute;
    left: -100%;
    top: -100%;
    height: calc(600 * var(--Rod-Gig-size));
    width: calc(600 * var(--Rod-Gig-size));
    border: calc(40 * var(--Rod-Gig-size)) solid var(--vermelho);
    border-radius: 50%;
    z-index: 9;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] { /*todos os carrinhos*/
    position: absolute;
    height: calc(100 * var(--Rod-Gig-size));
    width: calc(100 * var(--Rod-Gig-size));
    border-radius: 50%;
    background-color: var(--azul);
    animation: rotacao calc(20 * var(--Rod-Gig-time)) infinite linear;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .triangulo, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .triangulo { /*triangulo do carrinho*/
    position: absolute;
    height: calc(60 * var(--Rod-Gig-size));
    width: calc(160 * var(--Rod-Gig-size));
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-color: var(--amarelo);
    top: 16%;
    left: -29%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .teto, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .teto { /*barra horizontal do carrinho*/
    position: absolute;
    width: calc(180 * var(--Rod-Gig-size));
    height: calc(20 * var(--Rod-Gig-size));
    background-color: var(--amarelo-escuro);
    border-radius: 50px;
    top: 62%;
    left: -37%;
    z-index: 3;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .frente, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .frente {
    position: absolute;
    width: calc(100 * var(--Rod-Gig-size));
    height: calc(50 * var(--Rod-Gig-size));
    background-color: var(--azul);
    top: 131%;
    left: -9.5%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .lado, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] .lado {
    position: absolute;
    height: calc(50 * var(--Rod-Gig-size));
    width: calc(25 * var(--Rod-Gig-size));
    background-color: #3473d9;
    transform: skewy(-20deg);
    top: 127%;
    left: 90.5%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] [class^=barra], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] [class^=barra] { /*todas as barras verticais dos caarrinhos*/
    position: absolute;
    height: calc(50 * var(--Rod-Gig-size));
    width: calc(10 * var(--Rod-Gig-size));
    background-color: var(--marrom);
    z-index: 2;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=um], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=um] { /* barra vertical um*/
    top: 82%;
    left: -10%;
    z-index: 300;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=dois], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=dois] { /* barra vertical dois*/
    top: 73%;
    left: 105%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=tres], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=tres] { /* barra vertical tres*/
    top: 82%;
    left: 81%;
    z-index: 6;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=quatro], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class^=carrinho] > [class$=quatro] { /* barra vertical quatro*/
    top: 80%;
    left: 18%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=um], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=um] { /*carrinho um*/
    left: 40%;
    top: -12%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=dois], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=dois] { /*carrinho dois*/
    top: 41%;
    left: 93%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=tres], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=tres] { /*carrinho tres*/
    top: 95%;
    left: 40%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=quatro], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class$=quatro] { /*carrinho quatro*/
    top: 40%;
    left: -13%;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class$=estrela], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro [class$=estrela] { /*todas as estrelas*/
    position: absolute;
    background-color: var(--amarelo);
    height: calc(150 * var(--Rod-Gig-size));
    width: calc(150 * var(--Rod-Gig-size));
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: -1;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=um], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=um] {
    top: -4%;
    left: -4%;
    transform: rotate(-45deg);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=dois], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=dois] {
    top: 74%;
    left: 75%;
    transform: rotate(60deg);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=tres], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=tres] {
    top: -4%;
    left: 74%;
    transform: rotate(40deg);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=quatro], body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .roda .aro > [class^=quatro] {
    top: 75%;
    left: -3%;
    transform: rotate(80deg);
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .pe, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .pe {
    position: absolute;
    height: calc(350 * var(--Rod-Gig-size));
    width: calc(80 * var(--Rod-Gig-size));
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    background-color: #2959a6;
    z-index: 3;
  }
  html main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .base, body main #home #carrossel-itens .conteiner-carrossel-tres .animacao-rod-gig .base {
    position: absolute;
    height: calc(100 * var(--Rod-Gig-size));
    width: calc(400 * var(--Rod-Gig-size));
    background-color: var(--vermelho);
    left: 50%;
    top: 109%;
    transform: translateX(-50%);
    -webkit-clip-path: polygon(0% 100%, 25% 0%, 75% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 25% 0%, 75% 0%, 100% 100%);
  }
  @keyframes rotacao {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  html main #home > p, body main #home > p {
    text-align: center;
    padding: 0px 10px;
    margin: auto;
    font-size: clamp(12px, 5vw, 30px);
    line-height: clamp(20px, 4vw, 50px);
    max-width: 70vw;
  }
  html main #sobre-min h2, body main #sobre-min h2 {
    margin: 0px 0px 10px 16px;
  }
  html main #sobre-min .blocos, body main #sobre-min .blocos {
    height: 93%;
    width: 100%;
    display: grid;
    place-items: center;
  }
  html main #sobre-min .blocos h2, body main #sobre-min .blocos h2 {
    font-size: calc(var(--tamanho-bloco) * 60);
  }
  html main #sobre-min .blocos p, body main #sobre-min .blocos p {
    font-size: calc(var(--tamanho-bloco) * 40);
  }
  html main #sobre-min .blocos span, body main #sobre-min .blocos span {
    transform: scale(3) translateY(-30%);
    cursor: default;
  }
  html main #sobre-min .blocos .bloco, body main #sobre-min .blocos .bloco {
    width: calc(var(--tamanho-bloco) * 700);
    height: calc(var(--tamanho-bloco) * 200);
    display: flex;
  }
  html main #sobre-min .blocos .row-reverse, body main #sobre-min .blocos .row-reverse {
    flex-direction: row-reverse !important;
  }
  html main #sobre-min .blocos .setas, body main #sobre-min .blocos .setas {
    width: calc(var(--tamanho-bloco) * 200);
    height: calc(var(--tamanho-bloco) * 200);
    top: -4.5%;
    position: relative;
    transition-duration: calc(4 * var(--blocos-time));
    /* background-color: yellow; */
    transform-style: preserve-3d;
  }
  html main #sobre-min .blocos .para-cima, body main #sobre-min .blocos .para-cima {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--tamanho-bloco) * 200);
    height: calc(var(--tamanho-bloco) * 200);
    position: absolute;
    text-align: center;
    padding-top: calc(70 * var(--tamanho-bloco));
    transform-origin: bottom;
  }
  html main #sobre-min .blocos .para-baixo, body main #sobre-min .blocos .para-baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--tamanho-bloco) * 200);
    height: calc(var(--tamanho-bloco) * 200);
    position: relative;
    text-align: center;
    padding-top: calc(70 * var(--tamanho-bloco));
    background-color: var(--branco-20);
    transform-origin: bottom;
    transform: rotateX(90deg);
  }
  html main #sobre-min .blocos .texto, body main #sobre-min .blocos .texto {
    width: calc(var(--tamanho-bloco) * 500);
    height: calc(var(--tamanho-bloco) * 200);
    top: -4.5%;
    position: relative;
    transition-duration: calc(4 * var(--blocos-time));
    /* background-color: lightgray; */
    transform-style: preserve-3d;
  }
  html main #sobre-min .blocos .frente, body main #sobre-min .blocos .frente {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--tamanho-bloco) * 500);
    height: calc(var(--tamanho-bloco) * 200);
    position: absolute;
    /* background-color: red; */
    background-color: var(--branco-20);
    text-align: center;
    transform-origin: top;
  }
  html main #sobre-min .blocos .emcima, body main #sobre-min .blocos .emcima {
    width: calc(var(--tamanho-bloco) * 500);
    height: calc(var(--tamanho-bloco) * 200);
    position: absolute;
    /* background-color: blue; */
    transform: rotateX(90deg);
    transform-origin: top;
  }
  html main #sobre-min .blocos .invertido, body main #sobre-min .blocos .invertido {
    top: 15%;
    position: relative;
    text-align: center;
    transform: rotateX(180deg);
  }
  html main #conhecimentos > h2, body main #conhecimentos > h2 {
    text-align: right;
    margin: 0px 16px 16px 0px;
  }
  html main #conhecimentos h3, body main #conhecimentos h3 {
    font-size: clamp(1.2em, 6vw, 3em);
  }
  html main #conhecimentos [class^=barra-seletora], body main #conhecimentos [class^=barra-seletora] {
    height: clamp(3em, 8vw, 4em);
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html main #conhecimentos .barra-seletora-um, body main #conhecimentos .barra-seletora-um {
    background-color: var(--rosa);
  }
  html main #conhecimentos .barra-seletora-dois, body main #conhecimentos .barra-seletora-dois {
    background-color: var(--azul);
  }
  html main #conhecimentos .seletor, body main #conhecimentos .seletor {
    border-radius: 15px;
    text-align: center;
    font-size: clamp(1em, 4vw, 1.8em);
    font-weight: 600;
  }
  html main #conhecimentos option, body main #conhecimentos option {
    font-size: clamp(10px, 1.5vw, 15px);
  }
  html main #conhecimentos .conhecimentos-texto, body main #conhecimentos .conhecimentos-texto {
    margin-top: 20px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo, body main #conhecimentos .conhecimentos-texto #paragrafo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo p, body main #conhecimentos .conhecimentos-texto #paragrafo p {
    font-size: clamp(15px, 5vw, 25px);
    width: 80vw;
    text-align: center;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box, body main #conhecimentos .conhecimentos-texto #paragrafo #code-box {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgb(16, 16, 16);
    border-radius: 10px;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area], body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] {
    display: flex;
    align-items: center;
    margin: 0.5em;
    gap: 4%;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class^=botao], body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class^=botao] {
    height: 1em;
    width: 1em;
    border-radius: 50%;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class^=botao]:hover, body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class^=botao]:hover {
    height: 0.85em;
    width: 0.85em;
    margin: 0.075em;
    filter: brightness(50%);
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=vermelho], body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=vermelho] {
    background-color: #FF605C;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=amarelo], body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=amarelo] {
    background-color: #FFBD44;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=verde], body main #conhecimentos .conhecimentos-texto #paragrafo #code-box [class^=botoes-code-area] [class$=verde] {
    background-color: #00CA4E;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box textarea, body main #conhecimentos .conhecimentos-texto #paragrafo #code-box textarea {
    background-color: rgb(40, 40, 40);
    color: rgb(150, 150, 150);
    border: 1px solid rgb(40, 40, 40);
    border-radius: 0px 0px 10px 10px;
    font-size: 1.2em;
    text-align: left;
    font-weight: 600;
    padding: 1em 0px 0px 1em;
  }
  html main #conhecimentos .conhecimentos-texto #paragrafo #code-box textarea:focus, body main #conhecimentos .conhecimentos-texto #paragrafo #code-box textarea:focus {
    outline: none;
  }
  html main #projetos h2, body main #projetos h2 {
    margin: 0px 0px 30px 8px;
  }
  html main #projetos #content #game-boy, body main #projetos #content #game-boy {
    margin: auto;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  html main #projetos #content #game-boy .fundo, body main #projetos #content #game-boy .fundo {
    height: 75vh;
    width: 80vw;
    background-color: var(--verde);
    box-shadow: 12px 12px 0px 10px var(--verde-escuro);
    border-radius: 25px;
    padding: 20px 0px;
  }
  html main #projetos #content #game-boy .fundo #tela, body main #projetos #content #game-boy .fundo #tela {
    height: 50vh;
    width: 70vw;
    background-color: var(--preto);
    border-radius: 15px;
    margin: auto;
    overflow-x: hidden;
  }
  html main #projetos #content #game-boy .fundo #tela #desligado, body main #projetos #content #game-boy .fundo #tela #desligado {
    width: 70vw;
    height: 50vh;
    background-color: var(--preto);
    position: absolute;
    display: none;
  }
  html main #projetos #content #game-boy .fundo #tela .projetos, body main #projetos #content #game-boy .fundo #tela .projetos {
    /* position: absolute; */
    display: flex;
  }
  html main #projetos #content #game-boy .fundo #tela .projetos .projeto, body main #projetos #content #game-boy .fundo #tela .projetos .projeto {
    height: 50vh;
    width: 70vw;
    border-radius: 30px;
    display: none;
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy, body main #projetos #content #game-boy .fundo #botoes-game-boy {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy span, body main #projetos #content #game-boy .fundo #botoes-game-boy span {
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy [class$=direita] span, body main #projetos #content #game-boy .fundo #botoes-game-boy [class$=direita] span {
    transform: rotate(90deg);
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy [class$=esquerda] span, body main #projetos #content #game-boy .fundo #botoes-game-boy [class$=esquerda] span {
    transform: rotate(-90deg);
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy [class^=botao], body main #projetos #content #game-boy .fundo #botoes-game-boy [class^=botao] {
    width: 60px;
    border-radius: 30px;
    background-color: var(--amarelo);
    box-shadow: 3px 7px 0px var(--amarelo-escuro);
    position: relative;
    transition-duration: 0.1s;
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy [class*=seta], body main #projetos #content #game-boy .fundo #botoes-game-boy [class*=seta] {
    height: 60px;
  }
  html main #projetos #content #game-boy .fundo #botoes-game-boy .botao-start, body main #projetos #content #game-boy .fundo #botoes-game-boy .botao-start {
    height: 30px;
    padding-top: 3px;
    text-align: center;
  }
  html main #projetos #content #tela-emuladora, body main #projetos #content #tela-emuladora {
    display: none;
  }
  html footer, body footer {
    width: 100%;
    height: 20em;
    background-color: var(--branco-20);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  html footer p, body footer p {
    font-size: clamp(16px, 1.4vw, 25px);
  }
  html footer #texto, body footer #texto {
    font-size: clamp(16px, 1.4vw, 20px);
  }
  html footer #divisor, body footer #divisor {
    font-weight: 700;
    width: -moz-fit-content;
    width: fit-content;
  }
  html footer #divisor::after, body footer #divisor::after {
    content: "";
    display: block;
    height: 2px;
    width: 170%;
    background-color: var(--preto);
    position: relative;
    top: -12px;
    left: 110%;
  }
  html footer [class^=contato], body footer [class^=contato] {
    margin-bottom: 10px;
  }
  html footer [class^=contato] a, body footer [class^=contato] a {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  html footer [class^=icon-], body footer [class^=icon-] {
    height: 2em;
    width: 2em;
    padding-right: 0.4em;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --Rod-Gig-size: .6px;
    --tamanho-bloco: .10vw;
  }
  html header, body header {
    height: 4em;
  }
  html header span, body header span {
    transform: scale(2);
  }
  html main section, body main section {
    padding-top: 3.5em;
  }
  html main #home > p, body main #home > p {
    margin: 25px auto;
  }
  html main #home span, body main #home span {
    font-size: 3em;
  }
  html main #sobre-min .blocos span, body main #sobre-min .blocos span {
    transform: scale(5) translateY(-30%);
  }
  html main #sobre-min .blocos p, body main #sobre-min .blocos p {
    font-size: calc(var(--tamanho-bloco) * 45);
    line-height: calc(var(--tamanho-bloco) * 40);
  }
  html main #projetos #content, body main #projetos #content {
    margin-left: 1.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  html main #projetos #content #tela-emuladora, body main #projetos #content #tela-emuladora {
    height: 70vh;
    width: 45vw;
    background-color: rgb(45, 45, 45);
    border-radius: 25px;
    display: grid;
    place-items: center;
  }
  html main #projetos #content #tela-emuladora iframe, body main #projetos #content #tela-emuladora iframe {
    height: 90%;
    width: 95%;
  }
  html main #projetos #content #game-boy .fundo, body main #projetos #content #game-boy .fundo {
    width: 45vw;
    height: 70vh;
  }
  html main #projetos #content #game-boy .fundo #tela, body main #projetos #content #game-boy .fundo #tela {
    width: 40vw;
  }
  html main #projetos #content #game-boy .fundo #tela #desligado, body main #projetos #content #game-boy .fundo #tela #desligado {
    width: 40vw;
  }
  html main #projetos #content #game-boy .fundo #tela .projetos .projeto, body main #projetos #content #game-boy .fundo #tela .projetos .projeto {
    width: 40vw;
  }
  html footer, body footer {
    height: 12em;
  }
  html footer #contatos, body footer #contatos {
    display: flex;
    gap: 2em;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --tamanho-bloco: .04vw;
  }
  html header span, body header span {
    display: none !important;
  }
  html header li, body header li {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    height: 2em;
    width: 80em;
    background-color: var(--branco-10);
    transform: translateY(0);
    flex-direction: row;
    gap: 2em;
  }
  html main #sobre-min .blocos, body main #sobre-min .blocos {
    grid-template-columns: 3;
    grid-template-rows: 3;
  }
  html main #sobre-min .blocos #bloco-1, body main #sobre-min .blocos #bloco-1 {
    grid-row: 1;
    grid-column: 1;
  }
  html main #sobre-min .blocos #bloco-2, body main #sobre-min .blocos #bloco-2 {
    grid-row: 1;
    grid-column: 3;
  }
  html main #sobre-min .blocos #bloco-3, body main #sobre-min .blocos #bloco-3 {
    grid-row: 2;
    grid-column: 2;
  }
  html main #sobre-min .blocos #bloco-4, body main #sobre-min .blocos #bloco-4 {
    grid-row: 3;
    grid-column: 3;
  }
  html main #sobre-min .blocos #bloco-5, body main #sobre-min .blocos #bloco-5 {
    grid-row: 3;
    grid-column: 1;
  }
  html footer, body footer {
    flex-direction: row;
    height: 7.5em;
    justify-content: space-around;
    align-items: center;
  }
  html footer #texto, body footer #texto {
    max-width: 30%;
    text-align: left;
  }
  html footer #divisor::after, body footer #divisor::after {
    display: none;
  }
  html footer #contatos, body footer #contatos {
    transform: translateY(-10%);
  }
}/*# sourceMappingURL=main.css.map */