@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/* 
<[(Mapa)]>

[mobile-320px]
    1#>Configurações-basicas
        2##>Elementos-padrão
        2##>Tags-para-testes
        2##>Variaveis-de-animações
        2##>Cores
        2##>Fontes
    1#>Nav-bar
    1#>Home
        2##>titulo-home
        2##>carrossel
            3###>orbita
                4####>marcações-das-orbitas
                4####>niveis-das-orbitas
                4####>itens-da-orbita
                4####>animações-da-orbita
            3###>foto-de-perfil
            3###>roda-gigante
                4####>peças-principais-rod-gig
                4####>raios-rod-gig
                4####>estrelas-rod-gig
                4####>peças-carrinhos-rof-gig
                4####>animação-rod-gig
        2##>paragrafo-home
    1#>sobre-min
        2##>titulo
        2##>blocos
            3###>setas-blocos
            3###>textos-blocos
    1#>conhecimentos
        2##>titulo
        2##>barras-seletoras
        2##>parte-informativa
            3###>texto-conhecimentos
            3###>grafico
    1#>projetos
        2##>titulo
        2##>game-boy
            3###>tela
            3###>botões
    1#>roda-pé
        2##>textos
            3##>texto-um
            3##>texto-dois
        2##>contatos

[tablet-768px]
    1#>
*/
/* 1#>Configurações-basicas ----------------------------------------------------------------------------- */
/* 2##>Elementos-padrão --------------------------------------------------------------------------------- */

@media all {
    * {
        box-sizing: border-box;
        font-family: 'Prompt', sans-serif;
        color: var(--preto);
        margin: 0;
        padding: 0;
        user-select: none;
    }

    a {
        border-radius: 5px;
        padding: 0px 10px 0px 10px;
        text-decoration: none;  
        display: block;
        
        transition-duration: .45s;
    }

    span {
        cursor: default;
    }

    strong {
        color: var(--verde);
        border-radius: 20px;
        transition-duration: .5s;
    }

    .divisor {
        width: 100%;
        height: 2px;
        background-color: var(--branco-20);
    }

    .fundo-azul {background-color: var(--azul) !important;}
    .fundo-rosa {background-color: var(--rosa) !important;}
    .fundo-verde {background-color: var(--verde) !important;}
    .fundo-vermelho {background-color: var(--vermelho) !important;}
    .fundo-amarelo {background-color: var(--amarelo) !important;}

    .fonte-azul {color: blue !important;}
    .fonte-vermelho {color: red !important;}
    .fonte-verde {color: green !important;}

    :root {
    /* 2##>Variaveis-de-animações ----------------------------------------------------------------------*/
        // --orbita-tamanho: .35px;
        // --orbita-tempo: .14s; 
        --OrbitaTime: .1s;


        --Rod-Gig-size: .30px;
        --Rod-Gig-time: .35s;
        
        --tamanho-bloco: .13vw;
        // --tamanho-bloco: .4px;
        --blocos-time: .1s;

    /* 2##>Cores -------------------------------------------------------------------------------------- */
        --sombra: 0px 2px 5px rgba(54, 54, 54, 0.345);

        --preto: #212121;
        --preto-75: #212121bf;
        --preto-50: #21212180;
        --preto-25: #21212140;
        --preto-10: #2121211a;
        --preto-5: #2121210d;

        --branco: #ffffff;
        --branco-10: rgb(229.5, 229.5, 229.5);
        --branco-20: rgb(204, 204, 204);
        --branco-30: rgb(178.5, 178.5, 178.5);
        --branco-40: rgb(153, 153, 153);
        --branco-50: rgb(127.5, 127.5, 127.5);
        
        --azul: #3E9EFF;
        --rosa: #FF2C70;
        --vermelho: #CF3000;
        --verde: #3D8923;
        --amarelo: #E4A500;

        --amarelo-escuro: #bd8800;
        --verde-escuro: #285b17;
        --marrom: #864800;
    }

    /* 2##>Fontes ------------------------------------------------------------------------------------ */
    h1 {
        font-family: 'Raleway', sans-serif;  
        font-size: clamp(1.5em, 5vw, 3em);
        line-height: 30px;
    }
    h2 {
        font-family: 'Raleway', sans-serif;  
        font-size: clamp(1.4em, 4vw, 28px);
        line-height: 30px;
    }
    h3 {
        font-family: 'Raleway', sans-serif;  
        font-size: clamp(1.3em, 3vw, 2em);
        line-height: 30px;
    }
    h4 {
        font-family: 'Raleway', sans-serif;  
        font-size: 14px;
        line-height: 30px;
    }
    h5 {
        font-family: 'Raleway', sans-serif;  
        font-size: 16px;
        line-height: 30px;
    }
    p {
        font-family: 'Prompt', sans-serif;
        line-height: 24px;
        font-size: 16px;
        font-weight: 500;
    }
    
    html, body {
        overflow-x: hidden;
        width: 100vw;
        scroll-behavior: smooth;

        header {
            width: 100vw;
            height: 3em;
            background-color: var(--branco-10);
    
            padding: 0px 1.5em 0px 1.5em;
            box-shadow: var(--sombra);
            position: fixed;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
    
            h2 {
                z-index: 101;
            }
    
            span {
                transform: scale(1.2);
                z-index: 101;
            }
    
            li {
                height: 100%;
                width: 100%;
                background-color: var(--branco);
            
                padding: 4em;
                position: fixed;
                top: 50%;
                left: -100%;
                opacity: .94;
                transform: translateY(-50%);
        
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 6em;
                transition-duration: .45s;
    
                ul {
                    font-size: min(6vw, 20px);
                    width: fit-content;
                }
            }
        }
    
        main {
            section {
                padding-top: 3em;
                max-height: calc(100vh - 3em);
                height: calc(100vh - 3em);
                width: 100vw;
            }
            
            #home {
                h1 {
                    margin: 50px 0px 20px 0px;
                    text-align: center;
                }
    
                #carrossel {
                    position: relative;
                    
                    [class^="home-seta"] {
                        position: absolute;
                        top: 50%;
                
                        transform: scale(2) translateY(-20%);
                        z-index: 1;
                    }
                    .home-seta-direita {left: 87%;}
                    .home-seta-esquerda {left: 8%;}
    
    
                }
    
                #carrossel-itens {
                    height: 50vh;
                    width: 300vw;
            
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    left: -100%;
                    transition-duration: .5s;
                    
                    overflow-x: auto;   
    
                    [class^="conteiner-carrossel"] {
                        width: 100vw;
                        height: 50vh;
                    } 
        
                    .conteiner-carrossel-um {
                        display: grid;
                        place-items: center;

                        .orbita-animacao {
                            height: 250px;
                            width: 250px;
                    
                            @keyframes OrbitaRotation {
                                0% {
                                    transform: rotateZ(0deg);
                                }
                                100% {
                                    transform: rotateZ(360deg);
                                }
                            }
                            
                            #orbita {
                                height: 100%;
                                width: 100%;
                                position: relative;
                    
                                display: grid;
                                place-items: center;
                                
                                [class^="camada"] {
                                    position: absolute;
                                    border-radius: 50%;
                                    animation: OrbitaRotation linear infinite;
                    
                                    border: 1px solid red;
                                    z-index: 1;
                                }
                                [class$="um"] {
                                    height: 95%;
                                    width: 95%;
                                    animation-duration: calc(40 * var(--OrbitaTime));
                                } [class$="dois"] {
                                    height: 80%;
                                    width: 80%;
                                    animation-duration: calc(60 * var(--OrbitaTime));
                                    animation-direction: reverse;
                                } [class$="tres"] {
                                    height: 65%;
                                    width: 65%;
                                    animation-duration: calc(30 * var(--OrbitaTime));
                                } [class$="quatro"] {
                                    height: 50%;
                                    width: 50%;
                                    animation-duration: calc(70 * var(--OrbitaTime));
                                    animation-direction: reverse;
                                } [class$="cinco"] {
                                    height: 35%;
                                    width: 35%;
                                    animation-duration: calc(20 * var(--OrbitaTime));
                                } [class$="seis"] {
                                    height: 20%;
                                    width: 20%;
                                    animation-duration: calc(90 * var(--OrbitaTime));
                                    animation-direction: reverse;
                                } [class$="sete"] {
                                    height: 5%;
                                    width: 5%;
                                    animation-duration: calc(50 * var(--OrbitaTime));
                                }
                    
                                //todo os items 
                                [class^="item"] {
                                    position: absolute;
                                    z-index: 10;
                                    // border: 1px solid blue;
                                }
                                //todas as orbitas
                                [class$="orbita"] {
                                    position: absolute;
                                    // border: 1px solid blue;    
                                }
                    
                                //git orbita
                                [class^="git"] {
                                    animation: OrbitaRotation calc(30 * var(--OrbitaTime)) infinite linear reverse;
                                    height: 40%;
                                    width: 40%;
                                    top: -6%;
                                    left: -6%;
                    
                                    [class$="git"] {
                                        animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear reverse;
                                        // background-color: red;
                                        height: 20%;
                                        width: 20%;
                                        top: 47%;
                                        left: 47%;
                                    }
                    
                                    [class$="ghub"] {
                                        animation: OrbitaRotation calc(30 * var(--OrbitaTime)) infinite linear reverse;
                                        // background-color: rgba(0, 0, 0, 0.817);
                                        height: 10%;
                                        width: 10%;
                                        top: 10%;
                                        left: 10%;
                                    }
                                }
                    
                                //orbita js
                                [class^="js"] {
                                    animation: OrbitaRotation calc(40 * var(--OrbitaTime)) infinite linear;
                                    height: 30%;
                                    width: 30%;
                                    top: 0%;
                                    left: 0%;
                                    
                                    //item js
                                    [class$="js"] {
                                        animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear reverse;
                                        // background-color: yellow;
                                        height: 30%;
                                        width: 30%;
                                        top: 40%;
                                        left: 40%;
                                    }
                    
                                    //item react 
                                    [class$="react"] {
                                        animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
                                        // background-color: aqua;
                                        height: 20%;
                                        width: 20%;
                                        top: 10%;
                                        left: 10%;
                                    }
                                }
                    
                                //orbita css
                                [class^="css"] {
                                    animation: OrbitaRotation calc(90 * var(--OrbitaTime)) infinite linear;
                                    height: 30%;
                                    width: 30%;
                                    top: 15%;
                                    left: 15%;
                                    
                                    [class$="css"] {
                                        animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
                                        // background-color: blue;
                                        height: 65%;
                                        width: 65%;
                                        top: 25%;
                                        left: 25%;
                                    }
                    
                                    [class$="scss"] {
                                        animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
                                        // background-color: palevioletred;
                                        height: 40%;
                                        width: 40%;
                                        top: -50%;
                                        left: -50%;
                                    }
                                }
                    
                                [class$="html"] {
                                    animation: OrbitaRotation calc(50 * var(--OrbitaTime)) infinite linear;
                                    // background-color: orange;
                                    height: 10%;
                                    width: 10%;
                                    top: 8%;
                                    left: 8%;
                                }
                    
                                [class$="python"] {
                                    animation: OrbitaRotation calc(300 * var(--OrbitaTime)) infinite linear;
                                    // background-color: green;
                                    height: 5%;
                                    width: 5%;
                                    top: 12%;
                                    left: 12%;
                                }
                            }
                        }
                    }
        
                    .conteiner-carrossel-dois {
                        div {
                            height: min(50vw, 35em);
                            width: min(50vw, 35em);
                            background-image: linear-gradient(150deg, blue, orange);
                    
                            border-radius: 50%;
                            position: relative;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
        
                    .conteiner-carrossel-tres {
                        overflow: hidden;
                        .animacao-rod-gig {
                            // background-color: red; 
                            height: calc(600*var(--Rod-Gig-size));
                            width: calc(600*var(--Rod-Gig-size));
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: relative;
        
                            .roda { /*roda pequena do meio*/
                                position: absolute;
                                height: calc(200*var(--Rod-Gig-size));
                                width: calc(200*var(--Rod-Gig-size));
                                border-radius: 50%;
                                left: 33.5%;
                                top: 33.5%;
                                background-color: var(--vermelho);
                                z-index: 8;
                                animation: calc(20*var(--Rod-Gig-time)) rotacao linear reverse infinite;  
        
                                [class^='raio'] {/*todos os raios*/
                                    position: absolute;
                                    width: calc(40*var(--Rod-Gig-size));
                                    height: calc(598*var(--Rod-Gig-size));
                                    background-color: var(--marrom);
                                }
                                >[class$='um'] {  /*raio um*/
                                    transform: rotate(90deg);
                                    top: -100%;
                                    left: 40%;
                                }
                                >[class$='dois'] { /*raio dois*/
                                    transform: rotate(180deg);
                                    top: -100%;
                                    left: 41%;
                                }
                                >[class$='tres'] {/*raio tres*/
                                    transform: rotate(45deg);
                                    top: -100%;
                                    left: 40%;
                                }
                                >[class$='quatro'] {/*raio quatro*/
                                    transform: rotate(-45deg);
                                    top: -100%;
                                    left: 40%;
                                }
        
                                .aro { /*roda grande*/
                                    position: absolute;
                                    left: -100%;
                                    top: -100%;
                                    height: calc(600*var(--Rod-Gig-size));
                                    width: calc(600*var(--Rod-Gig-size));
                                    border: calc(40*var(--Rod-Gig-size)) solid var(--vermelho);
                                    border-radius: 50%;
                                    z-index: 9;
                                    
                                    [class^='carrinho'] { /*todos os carrinhos*/
                                        position: absolute;
                                        height: calc(100*var(--Rod-Gig-size));
                                        width: calc(100*var(--Rod-Gig-size));
                                        border-radius: 50%;
                                        background-color: var(--azul);
                                        animation: rotacao calc(20*var(--Rod-Gig-time)) infinite linear;
                
                                        .triangulo { /*triangulo do carrinho*/
                                            position: absolute;
                                            height: calc(60*var(--Rod-Gig-size));
                                            width: calc(160*var(--Rod-Gig-size));
                                            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
                                            background-color: var(--amarelo);
                                            top: 16%;
                                            left: -29%;
                                        }
                
                                        .teto { /*barra horizontal do carrinho*/
                                            position: absolute;
                                            width: calc(180*var(--Rod-Gig-size));
                                            height: calc(20*var(--Rod-Gig-size));
                                            background-color: var(--amarelo-escuro);
                                            border-radius: 50px;
                                            top: 62%;
                                            left: -37%;
                                            z-index: 3;
                                        }
        
                                        .frente {
                                            position: absolute;
                                            width: calc(100*var(--Rod-Gig-size));
                                            height: calc(50*var(--Rod-Gig-size));
                                            background-color: var(--azul);
                                            top: 131%;
                                            left: -9.5%;
                                        }
                                    
                                        .lado {
                                            position: absolute;
                                            height: calc(50*var(--Rod-Gig-size));
                                            width: calc(25*var(--Rod-Gig-size));
                                            background-color: #3473d9;
                                            transform: skewy(-20deg);
                                            top: 127%;
                                            left: 90.5%;
                                        }
                                        
                                        [class^='barra'] { /*todas as barras verticais dos caarrinhos*/
                                            position: absolute;
                                            height: calc(50*var(--Rod-Gig-size));
                                            width: calc(10*var(--Rod-Gig-size));
                                            background-color: var(--marrom);
                                            z-index: 2;
                                        }
                                        >[class$='um'] { /* barra vertical um*/
                                            top: 82%;
                                            left: -10%;
                                            z-index: 300;
                                        }
                                        >[class$='dois'] { /* barra vertical dois*/
                                            top: 73%;
                                            left: 105%;
                                        }
                                        >[class$='tres'] { /* barra vertical tres*/
                                            top: 82%;
                                            left: 81%;
                                            z-index: 6;
                                        }
                                        >[class$='quatro'] { /* barra vertical quatro*/
                                            top: 80%;
                                            left: 18%;
                                        }
                                    }
                                    >[class$='um'] { /*carrinho um*/
                                        left: 40%;
                                        top: -12%;
                                    }
                                    >[class$='dois'] { /*carrinho dois*/
                                        top: 41%;
                                        left: 93%;
                                    }
                                    >[class$='tres'] { /*carrinho tres*/
                                        top: 95%;
                                        left: 40%;
                                    }  
                                    >[class$='quatro'] { /*carrinho quatro*/
                                        top: 40%;
                                        left: -13%;
                                    }
    
    
                                    
                                    [class$='estrela'] { /*todas as estrelas*/
                                        position: absolute;
                                        background-color: var(--amarelo);
                                        height: calc(150*var(--Rod-Gig-size));
                                        width: calc(150*var(--Rod-Gig-size));
                                        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                                        z-index: -1;
                                    } 
                                    >[class^='um'] {
                                        top: -4%;
                                        left: -4%;
                                        transform: rotate(-45deg);
                                    }
                                    >[class^='dois'] {
                                        top: 74%;
                                        left: 75%;
                                        transform: rotate(60deg);
                                    }
                                    >[class^='tres'] {
                                        top: -4%;
                                        left: 74%;
                                        transform: rotate(40deg);
                                    }
                                    >[class^='quatro'] {
                                        top: 75%;
                                        left: -3%;
                                        transform: rotate(80deg);
                                    }
                                }
                            }
                
                            .pe {
                                position: absolute;
                                height: calc(350*var(--Rod-Gig-size));
                                width: calc(80*var(--Rod-Gig-size));
                                left: 50%;
                                top: 80%;
                                transform: translate(-50%, -50%);
                                background-color: #2959a6;
                                z-index: 3;
                            }
                
                            .base {
                                position: absolute;
                                height: calc(100*var(--Rod-Gig-size));
                                width: calc(400*var(--Rod-Gig-size));
                                background-color: var(--vermelho);   
                                left: 50%;
                                top: 109%;
                                transform: translateX(-50%);
                                clip-path: polygon(0% 100%, 25% 0%, 75% 0%, 100% 100%);
                            }
                
                            @keyframes rotacao {
                                0%{
                                    transform: rotate(0deg);
                                }
                        
                                100%{
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
                
                >p {
                    text-align: center;
                    padding: 0px 10px;
                    margin: auto;
                    font-size: clamp(12px, 5vw, 30px);
                    line-height: clamp(20px, 4vw, 50px);
                    max-width: 70vw;
                } 
            }
    
            #sobre-min {
                h2 {
                    margin: 0px 0px 10px 16px;
                }
    
                .blocos {
                    height: 93%;
                    width: 100%;
                    display: grid;
                    place-items: center;
    
                    h2 {
                        font-size: calc(var(--tamanho-bloco)*60);
                    }
                
                    p {
                        font-size: calc(var(--tamanho-bloco)*40);
                    }
    
                    span {
                        transform: scale(3) translateY(-30%);
                        cursor: default;
                    }
    
                    .bloco {
                        width: calc(var(--tamanho-bloco)*700);
                        height: calc(var(--tamanho-bloco)*200);
                        display: flex;
                    }
    
                    .row-reverse {flex-direction: row-reverse !important;}
    
                    .setas {
                        width: calc(var(--tamanho-bloco)*200);
                        height: calc(var(--tamanho-bloco)*200);
                        top: -4.5%;
                        
                        position: relative;
                        transition-duration: calc(4*var(--blocos-time));
                        /* background-color: yellow; */
                
                        transform-style: preserve-3d;
                    }
    
                    .para-cima {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: calc(var(--tamanho-bloco)*200);
                        height: calc(var(--tamanho-bloco)*200);
                
                        position: absolute;
                        text-align: center;
                        padding-top: calc(70*var(--tamanho-bloco));
                
                        transform-origin: bottom;
                    }
    
                    .para-baixo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        width: calc(var(--tamanho-bloco)*200);
                        height: calc(var(--tamanho-bloco)*200);
                
                        position: relative;
                        text-align: center;
                        padding-top: calc(70*var(--tamanho-bloco));
                        background-color: var(--branco-20);
                
                        transform-origin: bottom;
                        transform: rotateX(90deg);
                    }
    
                    .texto {
                        width: calc(var(--tamanho-bloco)*500);
                        height: calc(var(--tamanho-bloco)*200);
                        top: -4.5%;
                        
                        position: relative;
                        transition-duration: calc(4*var(--blocos-time));
                        /* background-color: lightgray; */
                
                        transform-style: preserve-3d;
                    }
                    
                    .frente {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        width: calc(var(--tamanho-bloco)*500);
                        height: calc(var(--tamanho-bloco)*200);
                        
                        position: absolute;   
                        /* background-color: red; */
                        background-color: var(--branco-20);
                
                        text-align: center;
                
                        transform-origin: top;
                    }
                    
                    .emcima {
                        width: calc(var(--tamanho-bloco)*500);
                        height: calc(var(--tamanho-bloco)*200);
                        
                        position: absolute;   
                        /* background-color: blue; */
                
                        transform: rotateX(90deg);
                        transform-origin: top;
                    }
                    
                    .invertido {
                        top: 15%;
                
                        position: relative;
                        text-align: center;
                        
                        transform: rotateX(180deg);
                    }
                    
                }
            }
    
            #conhecimentos {
                > h2 {
                    text-align: right;
                    margin: 0px 16px 16px 0px;
                }

                h3 {
                    font-size: clamp(1.2em, 6vw, 3em);
                }
    
                [class^="barra-seletora"] {
                    height: clamp(3em, 8vw, 4em);
                    padding: 0px 5px;
                    
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                .barra-seletora-um {background-color: var(--rosa);}
                .barra-seletora-dois {background-color: var(--azul);}
    
                .seletor {            
                    border-radius: 15px;
                    text-align: center;
                    font-size: clamp(1em, 4vw, 1.8em);
                    font-weight: 600;
                }

                option {
                    font-size: clamp(10px, 1.5vw, 15px);
                }
    
                .conhecimentos-texto {
                    margin-top: 20px;
                    padding: 0 16px;
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    #paragrafo {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        gap: 5vh;
                        
                        p {
                            font-size: clamp(15px, 5vw, 25px);
                            width: 80vw;
                            text-align: center;
                        }

                        #code-box {
                            height: fit-content;
                            width: fit-content;
                            background-color: rgb(16, 16, 16);
                            border-radius: 10px;

                            [class^="botoes-code-area"] {
                                display: flex;
                                align-items: center;
                                margin: .5em;
                                gap: 4%;

                                [class^="botao"] {
                                    height: 1em;
                                    width: 1em;
                                    border-radius: 50%;
                                    &:hover {
                                        height: .85em;
                                        width: .85em;
                                        margin: .075em;
                                        filter: brightness(50%);
                                    }
                                }

                                [class$="vermelho"] {
                                    background-color: #FF605C;
                                }
                                [class$="amarelo"] {
                                    background-color: #FFBD44;
                                }
                                [class$="verde"] {
                                    background-color: #00CA4E;
                                }
                                
                            }
                            
                            textarea {
                                background-color: rgb(40, 40, 40);
                                color: rgb(150, 150, 150);
                                border: 1px solid rgb(40, 40, 40);
                                border-radius: 0px 0px 10px 10px;
                                font-size: 1.2em;
                                text-align: left;
                                font-weight: 600;
                                padding: 1em 0px 0px 1em;

                                &:focus {
                                    outline: none;
                                }                                
                            }
                        }   
                    }
                }
            }
    
            #projetos {
                h2 {
                    margin: 0px 0px 30px 8px;
                }

                #content {
                    #game-boy {
                        margin: auto;
                        height: fit-content;
                        width: fit-content;
        
                        .fundo {
                            height: 75vh;
                            width: 80vw;
                            background-color: var(--verde);
                            box-shadow: 12px 12px 0px 10px var(--verde-escuro);
                            
                            border-radius: 25px;
                            padding: 20px 0px;
        
                            #tela {
                                height: 50vh;
                                width: 70vw;
                                background-color: var(--preto);
                                border-radius: 15px;
                                
                                margin: auto;
                                overflow-x: hidden;
        
                                #desligado {
                                    width: 70vw;
                                    height: 50vh;
                                    background-color: var(--preto);
                                    position: absolute;
                                    display: none;
                                }
        
                                .projetos {
                                    /* position: absolute; */
                                    display: flex;
        
                                    .projeto {
                                        height: 50vh;
                                        width: 70vw;
                                        border-radius: 30px;
                                        display: none;
                                    }
                                }
                            }
        
                            #botoes-game-boy {
                                margin-top: 50px;
                                
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
        
                                span {
                                    font-weight: 800;
                                    font-size: 50px;
                                    position: absolute;
                                    top: 10%;
                                    left: 10%;
                                }
                                [class$="direita"] span {transform: rotate(90deg);}
                                [class$="esquerda"] span {transform: rotate(-90deg);} 
        
                                [class^="botao"] {
                                    width: 60px;
                                    border-radius: 30px;
                                    background-color: var(--amarelo);
                                    
                                    box-shadow: 3px 7px 0px var(--amarelo-escuro);
                                    position: relative;
                                    transition-duration: 0.1s;
                                }
        
                                [class*="seta"] {
                                    height: 60px;
                                }
        
                                .botao-start {
                                    height: 30px;
                            
                                    padding-top: 3px;
                                    text-align: center;
                                }
                            }
                        }
                    }
    
                    #tela-emuladora {display: none;}
                }
            }
    
        }
            
        footer {
            width: 100%;
            height: 20em;
            background-color: var(--branco-20);
    
            padding: 15px;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            p {
                font-size: clamp(16px, 1.4vw, 25px);
            }

            #texto {
                font-size: clamp(16px, 1.4vw, 20px);
            }
            
            #divisor {
                font-weight: 700;
                width: fit-content;
    
                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 170%;
                    background-color: var(--preto);
            
                    position: relative;
                    top: -12px;
                    left: 110%;
                }
            }
            
            [class^="contato"] {
                margin-bottom: 10px;

                a {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                }
            }

            [class^="icon-"] {
                height: 2em;
                width: 2em;
                padding-right: .4em;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    :root {
        --Rod-Gig-size: .6px;
        --tamanho-bloco: .10vw;
    }

    html, body{
        
        header {
            height: 4em;

            span {
                transform: scale(2);
            }
        }
        
        main {
            section {
                padding-top: 3.5em;
            }

            #home {
                >p {
                    margin: 25px auto;
                }

                span {
                    font-size: 3em;
                }
            }

            #sobre-min {
                .blocos {
                    span {
                        transform: scale(5) translateY(-30%);
                    }

                    p {
                        font-size: calc(var(--tamanho-bloco) * 45);
                        line-height: calc(var(--tamanho-bloco) * 40);
                    }
                }
            }
            
            #projetos {
                #content {
                    margin-left: 1.8em;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                    #tela-emuladora {
                        height: 70vh;
                        width: 45vw;
                        background-color: rgb(45, 45, 45);
                        border-radius: 25px;

                        display: grid;
                        place-items: center;
                        
                        iframe {
                            height: 90%;
                            width: 95%;
                        }
                    }

                    #game-boy {
                        .fundo {
                            width: 45vw;
                            height: 70vh;
    
                            #tela {
                                width: 40vw;
                                
                                #desligado {
                                    width: 40vw;
                                }
    
                                .projetos {
                                    .projeto {
                                        width: 40vw;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }

        footer {
            height: 12em;
            #contatos {
                display: flex;
                gap: 2em;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    :root {
        --tamanho-bloco: .04vw;
    }
    
    html, body {
        header {
            span {
                display: none !important;
            }
            
            li {
                position: relative;
                top: 0;
                left: 0;
                padding: 0;
                height: 2em;
                width: 80em;
                background-color: var(--branco-10);
                transform: translateY(0);

                flex-direction: row;
                gap: 2em;
            }
        }

        main {
            #sobre-min {
                .blocos {
                    grid-template-columns: 3;
                    grid-template-rows: 3;

                    

                    #bloco-1 {grid-row: 1; grid-column: 1} 
                    #bloco-2 {grid-row: 1; grid-column: 3}
                    #bloco-3 {grid-row: 2; grid-column: 2}
                    #bloco-4 {grid-row: 3; grid-column: 3}
                    #bloco-5 {grid-row: 3; grid-column: 1}
                }
            }
        }
        
        footer {
            flex-direction: row;
            height: 7.5em;
            justify-content: space-around;
            align-items: center;

            #texto {
                max-width: 30%;
                text-align: left;
            }

            #divisor {
                &::after {
                    display: none;
                }
            }

            #contatos {
                transform: translateY(-10%);
            }
        }
    }
}
